body{
    background-color: antiquewhite;
}

.btn1,.btn2{
    border-radius: 5px;
    padding: 7px;

}
.link1,.link2,.link3{
    text-decoration: none;
    color: blue;
    padding-right: 20px;
}
.headers{
    margin-top: 15px;
    padding: 10px;
    margin-left: 35%;
}
.btn1{
    border: none;
    background-color: rgb(242, 185, 53);
    margin-left: 50%;
}

.btn2{
    border: none;
    background: linear-gradient(125deg,rgb(236, 217, 11),rgb(244, 199, 94),rgb(247, 143, 39));
}
.btn1:hover{
    background-color: rgb(250, 166, 64);

}
.one{
    height: 100px;
}
.two a{
    padding: 20px;
    text-decoration: none;
    color: black;
}
.three{
    margin-top: 30px;
}


